# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Local env files
*.local
.env
